.header{
	height: 200px;
	background-color: red;
}
p{
	margin-top: 0;
}

.menu{
	height: 100px;
	background-color: yellow;
}

li{
	display: inline;
	padding: 100px;
	
}

ul{
	margin-top: 0;
}

.view{
	height: 500px;
	background-color: green;
}

.footer{
	height:200px;
	background-color: pink;
}